body{
	padding:20px;
}

.multi_lines_text { 
	white-space: pre-line; 
}

.generator_button {
	color:	#f01669;
	opacity:0.7;
	background-color:white;
	height:90px;
	width:90px;
	padding:10px 10px;
	text-align:center;
	text-decoration: none;
	font-size:16px;
	border: 3px solid #f01669;
	border-radius: 4px;
	box-shadow: none;
}

.generator_button:hover{
	opacity:1;
} 

.title{
	color: 	#f01669;
	opacity:0.7;
}

.chameleon{
	display:none;
	width:120px;
	height:25px;
	resize:none;
	overflow-x:hidden;
	overflow-y:hidden;
	margin-top:-25px;
}

.credits{
	text-align: right;
	/*margin-top:100px;*/
}

a {
    color: 	#f01669;
    opacity: 0.7;
}
a:hover {
	color:rgb(168, 91, 107);
    opacity:1;
}